.popup {
  position: fixed;
  background: #e9e9e9e9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__form {
  border: 1px solid;
  position: fixed;
  padding: 10px;
  z-index: 1000;
  background-color: #fff;
  max-width: 400px;
}

.popup__form form, .popup__form form label {
  display: flex;
  flex-direction: column;
}

.popup__form-cross {
  position: absolute;
  right: -20px;
  top: -30px;
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  text-align: center;
}

.popup__form-submit {
  margin-top: 10px;
}
