.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #e9e9e9e9;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup__form {
  border: 1px solid;
  position: relative;
  padding: 10px;
  background-color: #fff;
}

.popup__form form, .popup__form form label {
  display: flex;
  flex-direction: column;
}

.popup__form-cross {
  position: absolute;
  right: -20px;
  top: -30px;
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  text-align: center;
}
