.expreview__block {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  border: 1px solid;
}

.expreview__block:hover{
  box-shadow: 0 0 5px #bababa;
}

.expreview__block-top {
  position: relative;
}

.expreview__block-top-price {
  position: absolute;
  border: 1px solid;
  top: 20px;
  right: 0;
  padding: 10px;
  background: #fff;
  color: #000;
  text-decoration: none;
}

.expreview__block-top a {
  display: flex;
}

.expreview__block-top img {
  width: 100%;
}

.expreview__block-center {
  display: flex;
  flex-direction: column;
}

.expreview__block-center-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expreview__block-center-row.name {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}

.expreview__block-center-row-element {
  border: 1px solid;
  flex-grow: 1;
  flex-basis: 1px;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  height: 30px; /*поправить*/
}

.expreview__block-center-row-element img {
  width: 32px;
  margin: 0 5px;
}
