.header__menu{
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    background: #EDECE8;
    color: #6d6d6d;
    position: relative;
}

.header__menu > div{
    flex-grow: 1;
    flex-basis: 1px;
    /*   border: 1px solid; */
    border-bottom: 1px solid;
}

.header__menu-left-side{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__menu-left-side-element{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #6d6d6d;
}

#hmlse__center{
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0 45px;
}

#hmlse__left{
    margin-right: 30px;
}

#hmlse__right{
    margin-left: 30px;
}


.header__menu-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu-center a{
    display: flex;
}

.header__menu-center a img{
    width: 50%;
    margin: 10px auto 0;
}

.header__menu-center p{
    letter-spacing: 0.1em;
}

.header__menu-right-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.header__menu-right-side-top{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
}

.header__menu-right-side-top a img{
    width: 40px;
    margin: 0 20px;
}

#phone{
    width: 35px;
}

.header__menu-right-side-top-button{
    padding: 10px;
    /*border: 1px solid;*/
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    background: blue;
}

.header__menu-right-side-bottom{
    display: flex;
    margin-bottom: 20px;
}

.header__menu-right-side-bottom-element{
    color: #6d6d6d;
    margin: 0 20px;
}

/*свёрнутое меню, дописать header__menu scrolled*/

main {
    margin-top: 100px;
}

.scrolled{
    justify-content: start;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid;
}

.scrolled > div:nth-child(2){
    order: -1;
}

.scrolled.header__menu > div {
    flex-grow: unset!important;
    border-bottom: none;
}

.scrolled > .header__menu-center > p{
    display: none;
}

.scrolled .header__menu-center{
    justify-content: start;
}

.scrolled .header__menu-center a img{
    width: 100px;
    margin: 5px 100px 5px 5px;
}

.scrolled .header__menu-center a{
    display: block;
}

.scrolled .header__menu-right-side-bottom{
    display: none;
}

.scrolled .header__menu-right-side-top-button{
    position: absolute;
    top: 100%;
    z-index: 1;
}

.scrolled .header__menu-right-side {
    margin-left: auto;
}