.right-column {
  margin-top: 30px;
  margin-left: auto;
  padding: 30px;
  border: 1px solid;
  width: 450px;
}

.column__button {
  background: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.fixed{
  position: fixed;
  right: 20px;
}